<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contact %>
    <%= f.text_field :contact, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :catchup_period, "Catchup period in days" %>
    <%= f.number_field :catchup_period, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
